*{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}

.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: transparent;
}

.border-color{
  color: yellow;
}

.col-4{
  display: flex;


  
}


#img{
    max-width: 400px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


