*{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}

/* email contact */
form{
  margin: 50px;
  width: 900px;
  color: white;
  margin-left: 30%;
}

/* brought page down a bit */
div{
  margin-top: 0px;
  color: white;
  margin: 0px;
  padding: 1px;
}

h5{
  margin-bottom: 0px;
}

/* resume text */
p{
  color: white;
  margin-left: 21%;
  margin-right: 10%;

}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* width: 900px; */
  padding: 50px;
  

}




/* heigh of message box */
.form-control{
  height: 200px;
}

.error-text{
  color: white;
  
}

/* title of projects */
.card-title{
  margin-bottom: 0px; 
  font-size: 15px;
  height: 45px;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
  
}

/* bottom card with github link */
.card-body{
  height: 50px;
  margin: 0px;
  
}

/* github link */
.card-link{
  margin: 0px;
  padding: 0px;
  color:  rgb(188, 149, 246);
}

/* size input email */
#exampleInputEmail1{
  height: 50px;
}

/* image size */
#cardSize{
  position: relative;
  max-width: 100%;
  margin: 0px;
}

/* image hover */
.card-cardSize:hover{
  transform: scale(1.1);
}

/* text email sharing */
#emailHelp{
  color: rgb(188, 149, 246);
}


@media sreen and (max-width: 1350px){
  form{
    margin: 50px;
    width: 200px;
    color: white;
    margin-left: 10%;
  }
  p{
    color: white;
    margin-left: 21%;
    margin-right: 10%;
  
  }
  }


@media sreen and (max-width: 390px){
  form{
    margin: 50px;
    width: 100px;
    color: white;
    margin-left: 5%;
  }
  p{
    color: white;
    margin-left: 21%;
    margin-right: 10%;
  
  }
  }