*{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}

.container{
  margin-right: 1000px;
  
}

.row{
  left: 1200px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: transparent;
}

.border-color{
  color: yellow;
}

.col-3{
  display: flex;
  left: 200px;
  justify-content: center;
  
}


#img{
    max-width: 400px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


