*{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}

form{
  margin: 50px;
  width: 900px;
  color: white;
  margin-left: 500px;


}

div{
  margin-top: 10px;
  color: white;

}

p{
  color: white;
  margin-left: 400px;
  margin-right: 100px;
  margin-bottom: 10px;

}

.form-control{
  height: 200px;
}


.col-3{
  display: flex;

}

.error-text{
  color: white;
  
}

.card-body{
  height: 50px;
}

.card-link{
  margin: 0px;
  padding: 0px;

}

#exampleInputEmail1{
  height: 50px;
}

#cardSize{
  position: relative;
    max-width: 100%;
    max-height:300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.card-cardSize:hover{
  transform: scale(1.1);
}


#emailHelp{
  color: rgb(188, 149, 246);
}




