*{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}

h3{
  margin-left: 775px;
 
}

h4{
  color: white;
  margin-left: 300px;
  margin-right: 80px;
}

h5{
  color: white;

}

h6{
  color: white;

}


li{
  margin-left: 390px;
  color: white;
  margin-bottom: 10px;
}

.col-7{
  margin-left: 20px;
  color: white;
  background-color:rgb(0, 53, 63);
  font-size: 50px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  }



.col-1{
  color: white;
  background-color: rgb(0, 53, 63);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  padding-top: 40px;
}


.col{
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  left: 100px;
  background-color:rgb(0, 53, 63);
  font-weight: 200px;
  color: white;
  width: 35px;


}

.card{
  color: white;
  left: 400px;
  height: 500px;
  margin-top: 60px;
  box-shadow: 0 0 20px rgb(20, 2, 45);
  
}


.resumeHeaders{
  color:   rgb(188, 149, 246);
  text-shadow: 0 0 20px rgb(20, 2, 45);
}


#icon{
  width: 30px;
  left: 245px;
  padding-bottom: 3px;

}

#LinkdIn{
  width: 31.5px;
  text-align: center;
  left: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 3px;
}


#dres{
  color: rgb(224, 64, 208);
}

#link{
  color: white;
  text-decoration: none;

}

#link:hover{
  color: rgb(188, 149, 246);
}

#aboutMe{
  left:550px;
}