*{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}

.col-7{
  margin-left: 20px;
  color: white;
  background-color:rgb(0, 53, 63);
  font-size: 50px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  }



.col-1{
  color: white;
  background-color: rgb(0, 53, 63);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  padding-top: 40px;
}

/* this styles the footer */

.col{
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  left: 0;
  background-color:rgb(0, 53, 63);
  font-weight: 200px;
  color: white;

}

.card{
  color: white;
  
}
.card-text{
  color: white;
}


#icon{
  width: 50px;
  text-align: center;
  /* max-height: 90px; */
  left: 700px;

}