* {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}


/* download resume */
h3 {
  margin-left: 50%;

}

/* resume headers */
h4 {
  color: white;
  margin-left: 18%;
  margin-right: 5%;

}

/* skills bullet points */
li {
  margin-left: 21%;
  color: white;
  margin-bottom: 10px;
}


/* name top left */
.col-7 {
  margin-left: 30px;
  color: white;
  background-color: rgb(0, 53, 63);
  font-size: 3vw;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* nav bar */
.col-1 {
  justify-content: space-between;
  color: white;
  background-color: rgb(0, 53, 63);
  font-family: "Ubuntu", sans-serif;
  font-size: large;
  padding: 10px;
  padding-top: 40px;
  left: 50%;
}

/* footer */
.col {
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  left: 5.3%;
  background-color: rgb(0, 53, 63);
  font-weight: 200px;
  color: white;
  width: 35px;
}

/* portfolio cards and about me card position */
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  left: 50%;
  margin-top: 70px;
  box-shadow: 0 0 20px rgb(20, 2, 45);
  margin-bottom: 50px;
  margin-right: 1000px;
  margin-left: 50px;
  font-size: large;
  /* right: 50%; */
}

.aboutme-image{
  border-radius: 5px;
  max-width: 350px;
  margin: 20px;
  margin-left: 35%;
  margin-right: 40px;
 

}

.aboutme-text{
  position: relative;
  max-width: 700px;
  left: 35%;
  right: 40px;
}

/* color for resume headers */
.resumeHeaders {
  color: rgb(188, 149, 246);
  text-shadow: 0 0 20px rgb(20, 2, 45);
}

/* github footer images*/
#icon {
  width: 30px;
  left: 13%;
  padding-bottom: 3px;

}

/* footer images*/
#LinkdIn {
  width: 31.5px;
  text-align: center;
  left: 9.4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 3px;
}

/* color of "download resume" */
#dres {
  color: rgb(224, 64, 208);
}

/* navbar text*/
#link {
  color: white;
  text-decoration: none;

}

/* navbar hover */
#link:hover {
  color: rgb(188, 149, 246);
}

/* about me card - spefic position because does want other card do */
#aboutMe {
  left: 35%;
  right: 35%;

}

@media sreen and (max-width: 1350px) {
  h4 {
    margin-left: 5%;
    margin-right: 5%;

  }

  .col-1 {
    font-size: 15px;
    width: fit-content;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    left: 50%;
    margin-top: 70px;
    box-shadow: 0 0 20px rgb(20, 2, 45);
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: large;
    /* right: 50%; */
  }

  .aboutme-image{
    max-width: 350px;
    margin: 20px;
    margin-left: 25%;
    margin-right: 10%;
  
  }
  .aboutme-text{
    position: relative;
    max-width: 250px;
    left: 25%;
    right: 5px;
  }

}

@media screen and (max-width: 935px) {
  .col {
    font-family: "Ubuntu", sans-serif;
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    left: 5.3%;
    background-color: rgb(0, 53, 63);
    width: 25px;
  }
  /* github footer images*/
  #icon {
    width: 20px;
    left: 13%;
    padding-bottom: 3px;

  }

  /* footer images*/
  #LinkdIn {
    width: 20px;
    text-align: center;
    left: 9.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 3px;
  }

  .col-1 {
    font-size: 10px;
    width: fit-content;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    left: 50%;
    margin-top: 70px;
    box-shadow: 0 0 20px rgb(20, 2, 45);
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: large;
    /* right: 50%; */
  }

  .aboutme-image{
    max-width: 250px;
    margin: 20px;
    margin-left: 25%;
    margin-right: 10%;
  
  }
  .aboutme-text{
    position: relative;
    max-width: 250px;
    left: 25%;
    right: 5px;
  }
}

@media sreen and (max-width: 662px) {
  .col {
    font-family: "Ubuntu", sans-serif;
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    left: 2%;
    background-color: rgb(0, 53, 63);
    width: 25px;
  
  }
  /*github footer images */
  #icon {
    width: 20px;
    left: 13%;
    padding-bottom: 3px;

  }

  /* footer images*/
  #LinkdIn {
    width: 20px;
    text-align: center;
    left: 9.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
  .col-1 {
    font-size: 10px;
    /* width: fit-content; */
   
  }

  .col-7 {
    margin-left: 30px;
    color: white;
    background-color: rgb(0, 53, 63);
    font-size: 4vw;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    margin-right: 0px;
    width: fit-content;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    /* left: 100%; */
    margin-top: 70px;
    box-shadow: 0 0 20px rgb(20, 2, 45);
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    /* font-size: large; */
    /* right: 50%; */
    left: 10%;
  }

  .aboutme-image{
    max-width: 150px;
    margin: 5px;
    margin-left: 25%;
    margin-right: 10%;
  
  }
  
  .aboutme-text{
    position: relative;
    max-width: 250px;
    left: 25%;
    right: 5px;
  }
}

@media sreen and (max-width: 390px){
  .aboutme-image{
    max-width: 150px;
    margin: 5px;
    margin-left: 25%;
    margin-right: 10%;
  
  }
  
  .aboutme-text{
    position: relative;
    max-width: 250px;
    left: 25%;
    right: 5px;
  }
  .col-1 {
    font-size: 10px;
    /* width: fit-content; */
   
  }
  .col {
    font-family: "Ubuntu", sans-serif;
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    left: 2%;
    background-color: rgb(0, 53, 63);
    width: 15px;
  
  }
  /*github footer images */
  #icon {
    width: 10px;
    left: 6%;
    padding-bottom: 3px;

  }

  /* footer images*/
  #LinkdIn {
    width: 10px;
    text-align: center;
    left: 9.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }

}