*{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 53, 63);
}

h3{
  margin-left: 800px;
 
}

h4{
  color: white;
  margin-left: 80px;
  margin-right: 80px;
}

p{
  color: white;
  margin-left: 100px;
  margin-right: 80px;
  margin-bottom: 10px;

}

ul{
  color: white;
  margin-left: 70px;
  margin-bottom: 10px;
}

li{
  margin-left: 100px;
  color: white;
  margin-bottom: 10px;
}

.col-7{
  margin-left: 20px;
  color: white;
  background-color:rgb(0, 53, 63);
  font-size: 50px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  }



.col-1{
  color: white;
  background-color: rgb(0, 53, 63);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  padding-top: 40px;
}


.col{
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  left: 0;
  background-color:rgb(0, 53, 63);
  font-weight: 200px;
  color: white;

}

.card{
  color: white;
  left: 350px;
  height: 500px;
  margin-top: 70px;
  box-shadow: 0 0 20px rgb(20, 2, 45);
  
}

.card-text{
  color: white;
  padding: 5px;
}

.resumeHeaders{
  color:   rgb(188, 149, 246);
  text-shadow: 0 0 20px rgb(20, 2, 45);
}


#icon{
  width: 30px;
  text-align: center;
  /* max-height: 90px; */
  left: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#LinkdIn{
  width: 31.5px;
  text-align: center;
  left: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photo{
  width: 10px;
  height: 10px;
  text-align: center;
  left: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dres{
  color: rgb(224, 64, 208);
}

#link{
  color: white;
  text-decoration: none;

}

#link:hover{
  color: rgb(188, 149, 246);
}

#aboutMe{
  left:575px;
}